[Unit]
Description=Run nextgenswitch setup script at boot
#ConditionFirstBoot=yes
Wants=network-online.target
After=local-fs.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nextgenswitch_setup.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target

# Move the script to /etc/systemd/system/nextgenswitch_setup.service
